
body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cantarell", sans-serif;
}

header {
    width: 100%;
    height: 520px;
    background-image: url("imagem/Lançamento\ de\ Produto\ de\ Alta\ Tecnologia.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
    padding-top: 0;
    color: white;
}

#logo{
     width: 280px;
    height: 200px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}
#frase{
    
    text-align: center;
    color: #F3F3F3;
    font-size: 30px;
}
main{
    background-color: #F3F3F3;
}

.container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    align-items: flex-start;   
    padding: 60px;
    }

   /*não consegui deixar igual no design*/
    .images-sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 55%;
}

   .images-sobre img {
    width: 100%;
    height: 260px; 
    object-fit: cover;
    border-radius: 6px;
}
    
    .Texto {
        width: 45%;
    }

    .Texto h2 {
        letter-spacing: 3px;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .Texto p {
        line-height: 1.6;
        font-size: 15px;
        color: #333;
        margin-bottom: 20px;
    }

    @media (max-width: 850px) {
        #sobre {
            flex-direction: column;
        }

        .images-sobre, .text {
            width: 100%;
        }

        .images-sobre img {
            height: 180px;
        }
    }


.especialidades {
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to right, #031E40, #0d61a5);
    color: white;
}

.especialidades h2 {
    font-size: 22px;;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.icon img {
    width: 240px;
    height:150px;
}
#icon-text{
    line-height: 1.6;
        font-size: 15px;
        color: #F3F3F3;        margin-bottom: 20px;
}

.section {
    padding: 40px;
    font-family: Arial, sans-serif;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 320px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card p {
    padding: 10px;
    font-size: 14px;
    color: #444;
}

/* Botões laterais */
.arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#button-section{
     text-align: center; 
}

/* Botão central */
.button-center {
    margin-top: 35px;
    background: #0389A6;
    color: white;
    padding: 12px 35px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

footer{
    background-color: #104B7B;
    padding-bottom: 0;
}

.rodape {
    padding: 40px 0;
    text-align: center;
    color: white;
}

#contato-a{
    color: white;
}
.contatos {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    color: white;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    text-align: center;
}

.icone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #104B7B;
}

.icone img {
    width: 50px;
    height:50px;
}



#orcamento {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

}


#orcamento a {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    color: white;
    width: 10%;
    background-color: rgb(30, 40, 80);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    margin-left: 40px;
}

#orcamento a:hover {
    transform: translateY(-1px);
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.4);
}
